/*HEADER*/

header {
  background-image: url("assets/image.png");
  background-color: ;
}

/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  padding: 40px;
  margin-left: 16px;
  text-decoration: none;
  color: white;
}

.navigation .logo { 
  margin-right: auto;
  width: 114px;
  height: 116px;
}

.navigation-contact {
  background-color: teal;
}

.navigation-contact:hover {
  background-color: purple;
}

.navigation-hamburger {
  display: none ;
}

@media(max-width: 900px) {
    .navigation {
      display: none;
      }

    .navigation-hamburger {
      display: block;
    }

}

.rounded-image {
  border-radius: 8px;
  box-shadow: color: #000000 11px;
}

/* INTRO */

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 54px
}